[submodule "lib/Socket.IO"]
	path = lib/Socket.IO
	url = http://github.com/LearnBoost/Socket.IO.git
[submodule "lib/Socket.IO-node"]
	path = lib/Socket.IO-node
	url = http://github.com/LearnBoost/Socket.IO-node.git
[submodule "lib/express"]
	path = lib/express
	url = http://github.com/visionmedia/express.git
[submodule "lib/html5-boilerplate"]
	path = lib/html5-boilerplate
	url = http://github.com/robrighter/html5-boilerplate.git
[submodule "lib/aws-lib"]
	path = lib/aws-lib
	url = http://github.com/mirkok/aws-lib.git
[submodule "lib/merger"]
	path = lib/merger
	url = http://github.com/shimondoodkin/nodejs-clone-extend.git
[submodule "lib/sax-js"]
	path = lib/sax-js
	url = http://github.com/isaacs/sax-js.git
[submodule "lib/node-xml2js"]
	path = lib/node-xml2js
	url = http://github.com/maqr/node-xml2js.git
[submodule "lib/simpledb"]
	path = lib/simpledb
	url = http://github.com/rjrodger/simpledb.git
