<br />
<div id="summary">
	<div class="stat_label">
		<p>Total Cost:</p>
	</div>
	<div class="statistic" id="total_cost">
		$0
	</div>
	<div class="stat_label">
		<p>YTD Cost:</p>
	</div>
	<div class="statistic" id="year_cost">
		$0
	</div>
	<div class="stat_label">
		<p>MTD Cost:</p>
	</div>
	<div class="statistic" id="month_cost">
		$0
	</div>
	<div class="stat_label">
		<p>Instance Count:</p>
	</div>
	<div class="statistic" id="count">
		0
	</div>
</div>
<br />
<br />
<div>
	<table id="flex1" style="display:none"></table>
</div>
<br />