<br />
<div id="summary">
	<div class="statistic" id="total_cost">
	</div>
	<div class="statistic" id="month_cost">
	</div>
	<div class="statistic" id="count">
	</div>
	<div class="statistic" id="total_cost">
	</div>
</div>
<div>
	<table id="flex1" style="display:none"></table>
</div>
<br />